---
import Layout from "../layouts/Layout.astro";
import { getPageBySlug } from "../lib/api";
const pageData = await getPageBySlug(Astro.url.pathname.replace("/", ""));

Astro.response.headers.set("Cache-Control", "max-age=600, must-revalidate");
---

<Layout seoTags={pageData?.page?.seo?.fullHead}>
  <Fragment slot="body">
    {
      pageData?.page?.featuredImage && (
        <img
          width={720}
          height={360}
          src={pageData?.page?.featuredImage.node.sourceUrl}
          alt={pageData?.page?.featuredImage.node.altText}
          srcset={pageData?.page?.featuredImage.node.srcSet}
          loading="lazy"
        />
      )
    }
    <h1>{pageData?.page?.title}</h1>
    <Fragment set:html={pageData?.page?.content} />
  </Fragment>
</Layout>
