---
import Layout from "../layouts/Layout.astro";
import { getNodeByUri } from "../lib/api";
const nodeBySlug = await getNodeByUri(Astro.url.pathname.replace('/post/', ''));
const data = nodeBySlug?.nodeByUri

const replaceApiDomainWithLocal = (html) => {
  return html.replaceAll(
    import.meta.env.WORDPRESS_API_URL.replace("/graphql", ""),
    `${Astro.url.protocol}//${Astro.url.host}`
  );
};

Astro.response.headers.set("Cache-Control", "max-age=600, must-revalidate");
const isPageOrPost = data?.__typename === "Page" || data?.__typename === "Post";
---

<Layout seoTags={isPageOrPost ? replaceApiDomainWithLocal(data.seo?.fullHead) || '' : undefined}>
  <Fragment slot="body">
    {
      isPageOrPost && data?.featuredImage && (
        <img
          width={720}
          height={360}
          src={data?.featuredImage.node.sourceUrl}
          alt={data?.featuredImage.node.altText}
          srcset={data?.featuredImage.node.srcSet}
          loading="lazy"
        />
      )
    }
    {isPageOrPost && <h1>{data?.title}</h1>}
    {isPageOrPost && <Fragment set:html={data?.content} />}
  </Fragment>
</Layout>
