---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getNodeByUri } from '@/lib/api';
import { isGraphType, isWPBlock } from '@/utils/types'
import WPBlock from '@/components/WPBlock.astro';
import PostPreview from '@/components/PostPreview.astro';

const nodeByUri = await getNodeByUri({
  uri: 'new-home',
  categoryName: 'blog',
  first: 3,
});
const pageData = nodeByUri?.nodeByUri && isGraphType(nodeByUri.nodeByUri, "Page") ? nodeByUri.nodeByUri : null;

const blocks =
  (pageData &&
    pageData.editorBlocks?.filter(isWPBlock)) ??
  [];

Astro.response.headers.set("Cache-Control", "max-age=600, must-revalidate");
---

<BaseLayout
  title={nodeByUri?.generalSettings?.title ?? ''}
  description={nodeByUri?.generalSettings?.description ?? ''}
  image={pageData?.featuredImage?.node ? {
    alt: pageData?.featuredImage?.node?.altText ?? '',
    src: pageData?.featuredImage?.node?.sourceUrl ?? '',
  } : undefined}
  primaryMenu={nodeByUri?.primaryMenu?.nodes?.[0] && isGraphType(nodeByUri?.primaryMenu?.nodes?.[0], 'Menu') ? nodeByUri?.primaryMenu?.nodes?.[0] : null}
  footerMenu={nodeByUri?.footerMenu?.nodes?.[0] && isGraphType(nodeByUri?.footerMenu?.nodes?.[0], 'Menu') ? nodeByUri?.footerMenu?.nodes?.[0] : null}
  seo={pageData?.seo}
>
    {pageData?.title && (
        <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight mb-6">{pageData.title}</h1>
    )}
    <WPBlock blocks={blocks} />
    <!-- {
        featuredProjects?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Projects</h2>
                {featuredProjects.map((project) => (
                    <ProjectPreview project={project} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/projects">View All Projects</Button>
                </div>
            </div>
        )
    } -->
    {
        nodeByUri?.posts?.edges?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-4 mt-14 text-xl font-serif italic sm:mb-4 sm:text-2xl">
                  Últimos Posts
                </h2>
                {nodeByUri?.posts?.edges?.map((post) => (
                    <PostPreview post={post.node} cursor={post?.cursor || ''} class="mb-10 sm:mb-12" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <a
                      href="/blog"
                      class="inline-flex items-center justify-center px-6 py-2 font-serif text-sm leading-tight italic text-main bg-main border border-main rounded-full transition hover:bg-muted"
                      title="View All Posts"
                      rel="noopener"
                    >
                      Ver todos las publicaciones
                    </a>
                </div>
            </div>
        )
    }
</BaseLayout>
