---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getNodeByUri } from '@/lib/api';
import { isGraphType, isWPBlock } from '@/utils/types'
import WPBlock from '@/components/WPBlock.astro';

const nodeByUri = await getNodeByUri('new-home');
const pageData = nodeByUri?.nodeByUri && isGraphType(nodeByUri.nodeByUri, "Page") ? nodeByUri.nodeByUri : null;

const blocks =
  (pageData &&
    pageData.editorBlocks?.filter(isWPBlock)) ??
  [];

Astro.response.headers.set("Cache-Control", "max-age=600, must-revalidate");
---

<BaseLayout
    title={nodeByUri?.title ?? ''}
    image={pageData?.featuredImage?.node ? {
      alt: pageData?.featuredImage?.node?.altText ?? '',
      src: pageData?.featuredImage?.node?.sourceUrl ?? '',
    } : undefined}
    primaryMenu={nodeByUri?.primaryMenu?.nodes?.[0] && isGraphType(nodeByUri?.primaryMenu?.nodes?.[0], 'Menu') ? nodeByUri?.primaryMenu?.nodes?.[0] : null}
    footerMenu={nodeByUri?.footerMenu?.nodes?.[0] && isGraphType(nodeByUri?.footerMenu?.nodes?.[0], 'Menu') ? nodeByUri?.footerMenu?.nodes?.[0] : null}
    seo={pageData?.seo}
  >
    {pageData?.title && (
        <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight mb-6">{pageData.title}</h1>
    )}
    <WPBlock blocks={blocks} />
    <!-- {
        featuredProjects?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Projects</h2>
                {featuredProjects.map((project) => (
                    <ProjectPreview project={project} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/projects">View All Projects</Button>
                </div>
            </div>
        )
    }
    {
        featuredPosts?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Writing</h2>
                {featuredPosts.map((post) => (
                    <PostPreview post={post} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/blog">View All Posts</Button>
                </div>
            </div>
        )
    } -->
</BaseLayout>
