---
import ArrowRight from '@/icons/ArrowRight.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Pagination from '@/components/Pagination.astro';
import { isGraphType, isWPBlock } from '@/utils/types'
import WPBlock from '@/components/WPBlock.astro';
import { getAllTags } from '@/lib/api';

const allTags = await getAllTags();

const seo = allTags?.nodeByUri?.seo;
const blocks = allTags?.nodeByUri?.editorBlocks?.filter(isWPBlock) ?? [];
const tags = allTags?.tags?.edges ?? [];

Astro.response.headers.set("Cache-Control", "max-age=600, must-revalidate");
---

<BaseLayout
    title={allTags?.generalSettings?.title ?? ''}
    description={allTags?.generalSettings?.description ?? ''}
    image={allTags?.nodeByUri?.featuredImage?.node ? {
      alt: allTags?.nodeByUri?.featuredImage?.node?.altText ?? '',
      src: allTags?.nodeByUri?.featuredImage?.node?.sourceUrl ?? '',
    } : undefined}
    showHeader={false}
    primaryMenu={allTags?.primaryMenu?.nodes?.[0] && isGraphType(allTags?.primaryMenu?.nodes?.[0], 'Menu') ? allTags?.primaryMenu?.nodes?.[0] : null}
    footerMenu={allTags?.footerMenu?.nodes?.[0] && isGraphType(allTags?.footerMenu?.nodes?.[0], 'Menu') ? allTags?.footerMenu?.nodes?.[0] : null}
    seo={seo}
>
    <h1 class="mb-12 text-2xl font-serif italic sm:mb-16 sm:text-4xl">All Tags</h1>
    <WPBlock blocks={blocks} />
    {
        tags.map((tag) => (
            <a class="mb-10 flex justify-between items-start gap-8 group sm:mb-12" href={tag?.node?.uri}>
                <div class="grow">
                    <h2 class="text-xl leading-tight font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-2xl">
                        {tag?.node?.name}
                    </h2>
                    <div class="mt-1 text-sm leading-normal">
                        {tag?.node?.count} {tag?.node?.count === 1 ? 'post' : 'posts'}
                    </div>
                </div>
                <div class="hidden font-serif italic opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:gap-1 sm:items-center sm:shrink-0">
                    View Tag Archive <ArrowRight class="fill-current w-4 h-4" />
                </div>
            </a>
        ))
    }

    {tags.length === 0 && (before || after) && (
      <p>No tags found on this page. <a href={`${Astro.url.pathname}`}>Return to first page</a></p>
    )}
</BaseLayout>
