---
import { ViewTransitions } from 'astro:transitions';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import Nav from '@/components/Nav.astro';
import Seo from '@/components/Seo.astro';
import type { Menu } from '@/utils/types'
import type { PostTypeSeo, TaxonomySeo } from '@/gql/sdk';
import ConsentBanner from '@/components/ConsentBanner.astro';

import '@/styles/global.css';

export type Props = {
  showHeader?: boolean,
  primaryMenu?: Menu | null,
  footerMenu?: Menu | null,
  title: string,
  description: string,
  seo: PostTypeSeo | TaxonomySeo
};

const {
  showHeader = true,
  title,
  description,
  primaryMenu,
  footerMenu,
  seo,
  ...head
} = Astro.props;
---

<!doctype html>
<html lang="es" class="antialiased break-words">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <!-- Preconnect to Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <!-- Preload and apply fonts -->
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Inter:wght@400..700&family=Newsreader:ital,opsz,wght@0,6..72,400..700;1,6..72,400..700&display=swap" onload="this.onload=null;this.rel='stylesheet'" />

        <!-- Load fonts asynchronously (fallback for browsers that don't support preload) -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400..700&family=Newsreader:ital,opsz,wght@0,6..72,400..700;1,6..72,400..700&display=swap" media="print" onload="this.media='all'" />

        <!-- Fallback in case JavaScript is disabled -->
        <noscript>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400..700&family=Newsreader:ital,opsz,wght@0,6..72,400..700;1,6..72,400..700&display=swap" />
        </noscript>

        <!-- WP Seo -->
        <Seo seo={seo} baseUrl="https://ronnyfreites.com" />

        <!-- Google Tag Manager -->
        <script is:inline>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer', 'GTM-T8BMV2DW');
        </script>

        <ViewTransitions />
    </head>
    <body class="bg-main text-main">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
          <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8BMV2DW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div class="flex flex-col min-h-screen px-4 md:px-8">
            <Nav menu={primaryMenu} />
            {showHeader && <Header title={title} description={description} />}
            <main class="grow w-full max-w-3xl mx-auto">
                <slot />
            </main>
            <ConsentBanner />
            <Footer menu={footerMenu} />
        </div>
        <script is:inline>
        (function() {
          // Listen for consent changes
          document.addEventListener('cookieConsent', function(event) {
            if (event.detail.consent === true) {
              // If consent is given, push the consent state to the data layer
              window.dataLayer = window.dataLayer || [];
              window.dataLayer.push({'event': 'cookie_consent_given'});
              window.dataLayer.push({
                'event': 'virtualPageview',
                'pageTitle': document.title,
                'pageLocation': window.location.href,
                'pagePath': window.location.pathname
              });
            }
          });

          // Listen for page navigation events
          document.addEventListener('astro:after-swap', function() {
            // Push a custom event to the data layer for page views
            window.dataLayer = window.dataLayer || [];
            window.dataLayer.push({
              'event': 'virtualPageview',
              'pageTitle': document.title,
              'pageLocation': window.location.href,
              'pagePath': window.location.pathname
            });
          });
        })();
        </script>
    </body>
</html>
