---
import { ViewTransitions } from 'astro:transitions';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import Nav from '@/components/Nav.astro';
import Seo from '@/components/Seo.astro';
import type { Menu } from '@/utils/types'
import type { PostTypeSeo, TaxonomySeo } from '@/gql/sdk';
import CookieConsent from '@/components/CookieConsent.astro';

import '@/styles/global.css';

export type Props = {
  showHeader?: boolean,
  primaryMenu?: Menu | null,
  footerMenu?: Menu | null,
  title: string,
  description: string,
  seo: PostTypeSeo | TaxonomySeo
};

const {
  showHeader = true,
  title,
  description,
  primaryMenu,
  footerMenu,
  seo,
  ...head
} = Astro.props;
---

<!doctype html>
<html lang="es" class="antialiased break-words">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <!-- WP Seo -->
        <Seo seo={seo} baseUrl="https://ronnyfreites.com" />

        <script>
            if (localStorage.theme === 'dark') {
                document.documentElement.classList.add('dark');
            }
        </script>

        <!-- Google Analytics -->
        <script
          async
          is:inline
          src="https://www.googletagmanager.com/gtag/js?id=G-GKW2L9Z4LX"
        ></script>
        <script>
          // We need a global definition to avoid type warnings
          declare global {
            interface Window {
              dataLayer: Record<string, any>[];
              gtag: (...args: any[]) => void;
            }
          }

          // Initialize dataLayer
          window.dataLayer = window.dataLayer || [];

          // Define gtag function
          window.gtag = function gtag(...args: any[]) {
            window.dataLayer.push(arguments);
          };

          // Load GA4 with denied default consents
          window.gtag("js", new Date());
          window.gtag("consent", "default", {
            ad_storage: "denied",
            ad_user_data: "denied",
            ad_personalization: "denied",
            analytics_storage: "denied",
          });
          window.gtag("config", "G-GKW2L9Z4LX");
        </script>

        <ViewTransitions />
    </head>
    <body class="bg-main text-main">
        <div class="flex flex-col min-h-screen px-4 md:px-8">
            <Nav menu={primaryMenu} />
            {showHeader && <Header title={title} description={description} />}
            <main class="grow w-full max-w-3xl mx-auto">
                <slot />
            </main>
            <Footer menu={footerMenu} />
            <div transition:persist="find-me-on-the-other-side" id="cc-container">
              <CookieConsent />
              <script is:inline>
                // Restore the `show--consent` class if it was present before the page swap
                document.addEventListener("astro:before-preparation", event => {
                  const htmlClassName = window.document.documentElement.className;
                  const consentClassPresent = htmlClassName.includes("show--consent")
                    ? true
                    : false;
                  window._showConsentClass = consentClassPresent;
                });

                document.addEventListener("astro:before-swap", event => {
                  const showConsent = window._showConsentClass ? ` show--consent` : "";
                  event.newDocument.documentElement.className += showConsent;
                });
              </script>
            </div>
        </div>
    </body>
</html>
