---
import { ViewTransitions } from 'astro:transitions';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import Nav from '@/components/Nav.astro';
import Seo from '@/components/Seo.astro';
import type { Menu } from '@/utils/types'
import type { PostTypeSeo, TaxonomySeo } from '@/gql/sdk';
import ConsentBanner from '@/components/ConsentBanner.astro';

import '@/styles/global.css';

export type Props = {
  showHeader?: boolean,
  primaryMenu?: Menu | null,
  footerMenu?: Menu | null,
  title: string,
  description: string,
  seo: PostTypeSeo | TaxonomySeo
};

const {
  showHeader = true,
  title,
  description,
  primaryMenu,
  footerMenu,
  seo,
  ...head
} = Astro.props;
---

<!doctype html>
<html lang="es" class="antialiased break-words">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <!-- WP Seo -->
        <Seo seo={seo} baseUrl="https://ronnyfreites.com" />

        <script>
            if (localStorage.theme === 'dark') {
                document.documentElement.classList.add('dark');
            }
        </script>

        <!-- Google Analytics -->
        <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-GKW2L9Z4LX"></script>
        <script type="text/partytown">
         	window.dataLayer = window.dataLayer || [];
         	function gtag() {
          		dataLayer.push(arguments);
         	}
         	gtag("js", new Date());
         	gtag("config", "G-GKW2L9Z4LX");
        </script>

        <style>
          /* Inter Variable Font */
          @font-face {
            font-family: 'Inter';
            src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
            font-weight: 100 900;
            font-style: normal;
            font-display: swap;
          }

          @font-face {
            font-family: 'Inter';
            src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
            font-weight: 100 900;
            font-style: italic;
            font-display: swap;
          }

          /* Newsreader Variable Font */
          @font-face {
            font-family: 'Newsreader';
            src: url('/fonts/Newsreader-VariableFont_opsz,wght.ttf') format('truetype-variations');
            font-weight: 100 900;
            font-style: normal;
            font-display: swap;
          }

          @font-face {
            font-family: 'Newsreader';
            src: url('/fonts/Newsreader-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
            font-weight: 100 900;
            font-style: italic;
            font-display: swap;
          }
        </style>

        <ViewTransitions />
    </head>
    <body class="bg-main text-main">
        <div class="flex flex-col min-h-screen px-4 md:px-8">
            <Nav menu={primaryMenu} />
            {showHeader && <Header title={title} description={description} />}
            <main class="grow w-full max-w-3xl mx-auto">
                <slot />
            </main>
            <ConsentBanner />
            <Footer menu={footerMenu} />
        </div>
        <script type="text/partytown">
          (function() {
            // Listen for consent changes
            document.addEventListener('cookieConsent', function(event) {
              if (event.detail.consent === 'given') {
                // If consent is given, push the consent state to the data layer
                window.dataLayer = window.dataLayer || [];
                window.dataLayer.push({'event': 'cookieConsentGiven'});
                window.dataLayer.push({
                  'event': 'virtualPageview',
                  'pageTitle': document.title,
                  'pageLocation': window.location.href,
                  'pagePath': window.location.pathname
                });
              } else {
                // If consent is not given, push the consent state to the data layer
                window.dataLayer = window.dataLayer || [];
                window.dataLayer.push({'event': 'cookieConsentNotGiven'});
              }
            });

            // Listen for page navigation events
            document.addEventListener('astro:after-swap', function() {
              const consent = localStorage.getItem('cookieConsent');
              if (consent === 'given') {
                // Push a custom event to the data layer for page views
                window.dataLayer = window.dataLayer || [];
                window.dataLayer.push({
                  'event': 'virtualPageview',
                  'pageTitle': document.title,
                  'pageLocation': window.location.href,
                  'pagePath': window.location.pathname
                });
              }
            });
          })();
        </script>
    </body>
</html>
